@import "../../styles/variables.scss";

.card-big {
  .card-image {
    height: 50vh;
    opacity: .7;
  }
  .card-body {
    background-color: $secondary-text;
    .card-text {
      color: $primary-text;
      padding-top: 20px;
      padding-bottom: 20px;
      a {
        color: $anchor-text;
      }
    }
  }
  margin-bottom: 30px;
}